* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog__title{
  text-align: center;
  font-weight: bold;

}

.navgurukul {
  text-align: center;
  color: #1a28ee;
}
.navgurukul:hover {
  color: #b9cc0b;
}
/* image dtyle */
.my__image {
  width: 75%;
  border-radius: 50%;
  margin: 2.5rem 2.7rem 0;
}

.name__style {
  text-align: center;
  text-shadow: 1px 1px 1px red, 2px 2px 1px red;
}
.name__style:hover {
  color: #2e1bdf;
}

.textstyle {
  box-shadow: inset 0 0 0 0 #35ec08;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.textstyle:hover {
  box-shadow: inset 180px 0 0 0 #35ec08;
  color: #000;
}
.address:hover {
  text-decoration: underline;
}

/* service component */

.card_div {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.card_div:hover {
  color: #000;
  background-color: #1c41ba;
}

/* buuton style */
.slide {
  box-shadow: inset 0 0 0 0 #39d604;
  border-radius: 2rem;
  color: #000;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.slide:hover {
  box-shadow: inset 110px 0 0 0 #39d604;
  border: none;
  color: #000;
}




/* footer   ---*/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 7rem;
  column-gap: 4rem;
  row-gap: 7rem;
  margin-bottom: 4rem;
}

.footer {
  padding: 2rem 0;
  background-color: #070A0E;
}
.logo-col {
  flex-direction: column;
  color: white;
}
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  padding-top: 2rem;
}

.copyright {
  font-size: 1rem;
  line-height: 1.2;
  color: #FFFF;
  margin-top: auto;
  padding-top: 1.5rem;
}

.contacts {
  font-size: 1rem;
  font-style: normal;
  line-height: 1.2;
}
.footer-heading {
  font-size: 1.3rem;
  color: white;
  font-weight: 500;
  margin-bottom: 4rem;
}

.address {
  margin-bottom: 2.4rem;
  color: aliceblue;
}
ul{
  padding-left: 0;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #FFFF;
  transition: all 0.3;
}
.footer-link:hover,
.footer-link:active {
  color: #1a28ee;
}

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}
@media (max-width: 34em) {
  .section-pricing-md {
    display: flex;
  flex-direction: column;
  align-items: center;
}
  }
